<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <title>在线英语活动 - 详情</title> 
  <meta name="description" content="上海快闪行动，全城召集令！" /> 
  <meta name="keywords" content="上海快闪行动，全城召集令！,51Talk英语学习社区" /> 
  <link rel="stylesheet" href="/static/css/details.css" type="text/css" /> 
   {% include "head_include.html" %}
  <!--[if IE 6]>
<script src="/static/js/DD_belatedPNG_0.0.8a.min.js"></script>
<![endif]--> 
 </head> 
 <body> 
  <div class="header"> 
 {% include "topbar.html" %}
  </div> 
  <!-- header end --> 
  <div class="main" id="container" data-init="details"> 
   <div class="wrapper fn-clear"> 
    <div class="left"> 
     <div class="part"> 
      <div class="u-caption"> 
       <a href="http://bbs.51talk.com/activity/index/hot" class="title current">&lt; 返回活动列表</a> 
      </div> 
     </div> 
     <div class="partytop"> 
      <div class="p-details part"> 
       <div class="d-top fn-clear"> 
        <div class="d-left fn-left"> 
         <img src="/static/images/2015081717351643231.png" height="160" width="400" alt="" /> 
        </div> 
        <!-- d-left end --> 
        <ul class="ul-right ul-right2"> 
         <li class="d-tit fn-clear"> <b>上海快闪行动，全城召集令！</b> 
          <!--i class="pt-blue">线下</i--> </li> 
         <li><b>活动时间：</b>09月30日 星期三 10:00-20:00</li> 
         <li><b>主持人：</b>Ivy</li> 
         <li><b>活动地点：</b></li> 
        </ul> 
        <!-- ul-right end --> 
       </div> 
       <!-- t-top end --> 
       <div class="d-bottom fn-clear"> 
        <span class="fn-left"><font id="count">682</font>人参加</span> 
        <span class="fn-right"> 
         <!--<a href="/activity/apply/39/1/hot" class="u-btn blue">我围观</a>--> <a href="javascript:;" data-aid="39" data-type="hot" data-joined="0" class="u-btn gray">已过期</a> </span> 
       </div> 
      </div> 
      <!-- p-details end --> 
     </div> 
     <!-- partytop end --> 
     <div class="content"> 
      <div class="details part"> 
       <div class="content-box"> 
        <div class="main-content"> 
         <p></p>
         <p><span style="background-color: rgb(75, 172, 198); color: rgb(255, 255, 0);"><strong><span style="border: 1px solid rgb(0, 0, 0); background-color: rgb(75, 172, 198);">学英语不枯燥，51Talk makes you WOW！</span></strong></span></p>
         <p><span style="font-size: 16px;">亲爱的上海</span>的学员，你们好吗？！！</p>
         <p>大家盼望已久的<span style="font-size: 18px;"><strong>51Talk同城派对</strong></span>终于来到<strong><span style="font-size: 18px;">上海</span></strong>啦！</p>
         <p><br /></p>
         <p>（此处掌声不断~~~~）</p>
         <p><img src="/static/images/j_0003.gif" /></p>
         <p>在小5到来之前，我需要你们先回答一下我的问题：</p>
         <p>你有做过<strong><span style="font-size: 20px;">疯狂</span></strong>且有<strong><span style="font-size: 20px;">挑战</span></strong>性的事吗？</p>
         <p>你做过的最疯狂的事又是什么呢？</p>
         <p>蹦极？穷游？私奔？……</p>
         <p>或者是，从来没有过？</p>
         <p><img src="/static/images/j_0010.gif" /></p>
         <p>如果你觉得你的人生没有过什么疯狂的值得怀念的故事，那么小5的线下派对你一定要来！！要问这疯狂的事是什么？</p>
         <p>我能想到最疯狂的事，就是和你一起<span style="color: rgb(255, 0, 0);"><strong><span style="font-size: 24px;">全城快闪</span></strong></span>！！！<br /></p>
         <p><br /></p>
         <p>从此，你才不是一个没有<strong><span style="font-size: 20px;">有故事</span></strong>的人~~</p>
         <p><br /></p>
         <p><span style="color: rgb(255, 255, 0); background-color: rgb(75, 172, 198);"><strong><span style="color: rgb(255, 255, 0); border: 1px solid rgb(0, 0, 0);">本次活动的玩法：</span></strong></span></p>
         <p><span style="font-size: 20px;">First&nbsp; 8.23线下聚会，一起狂欢~8.24-8.28利用晚上和周末的四个小时在指定的舞房学习一段舞蹈！不需要你有任何舞蹈基础~<br /></span></p>
         <p><span style="font-size: 20px;">&nbsp; ↓<br /></span></p>
         <p><span style="font-size: 20px;">Then 8.30（周日）上海地标建筑终极快闪行动！</span></p>
         <p><br /></p>
         <p>还不造快闪是啥？ 赶快戳链接欣赏下前辈们的视频吧：<br /></p>
         <p><a style="font-size: 24px; text-decoration: underline;" src="discuss_detail.html?4436.html" href="discuss_detail.html?4436.html"><span style="font-size: 24px;">discuss_detail.html?4432</span></a></p>
         <p><br /></p>
         <p>看着简单，但真的想做好，那可要疯狂的挑战一把！你有信心吗？？<br /></p>
         <p><br /></p>
         <p><span style="border: 1px solid rgb(0, 0, 0); color: rgb(255, 255, 0); background-color: rgb(75, 172, 198);"><strong>让我们一起挑战自己，疯狂一下！</strong></span><br /></p>
         <p><span style="color: rgb(255, 0, 0); font-size: 20px;"><strong>报名参与方式</strong></span>：加入活动官方QQ群&nbsp; <span style="font-size: 18px;"><strong><span style="color: rgb(255, 0, 0);">51Talk上海快闪活动群 460365173</span></strong></span>，可带家属和朋友参加~<br /></p>
         <p>我们将在<span style="color: rgb(192, 0, 0);"><strong>8</strong></span><strong><span style="color: rgb(255, 0, 0);">月22号下午两点</span></strong>确定<strong><span style="color: rgb(255, 0, 0);">20个</span></strong>（家属和朋友算在内）名额作为本次活动参与者！</p>
         <p><br /></p>
         <p>等你！在51Talk<strong><span style="font-size: 20px;">上海同城派对</span></strong>！<br /></p>
         <p><img src="/static/images/t_0019.gif" /></p>
         <p><br /></p>
         <p></p> 
        </div> 
        <!-- main-content end --> 
       </div> 
       <!-- content-box end --> 
      </div> 
     </div> 
     <!-- content end --> 
     <!-- 回帖区 --> 
     <!-- js二级回复框 暂时必须放到这里--> 
     <div class="itemSub" id="replay2" style="display:none;padding-left:0;"> 
      <div class="container" style="margin-top:0;"> 
       <form action="/ajax/reply" method="post" id="replyForm2"> 
        <input type="hidden" name="type" value="2" /> 
        <input type="hidden" name="top_id" value="39" /> 
        <input type="hidden" name="parent_id" value="0" /> 
        <input type="hidden" name="content" /> 
        <script id="editor2" type="text/plain" style="width:608px;height:120px;"></script> 
        <div class="u-submit"> 
         <a class="button submit" id="ueSubmit2" href="javascript:;">发表回复</a> 
         <div class="fn-left" style="display:none;">
           验证码： 
          <input type="text" name="verify_code" class="input" id="verifyCode2" /> 
          <img title="点击刷新" class="jsCode" src="/index/Code/uo9mv65fo0mc4huhdp0et50l54" align="absbottom" onclick="this.src = '/index/Code/uo9mv65fo0mc4huhdp0et50l54/v//' + Math.random();" /> 
         </div> 
        </div> 
       </form> 
      </div> 
     </div> 
     <!-- 分享和点赞功能 --> 
     <!-- /js二级回复框 --> 
     <div class="m-comment"> 
      <div class="cmtItem"> 
       <span class="badge red">沙发</span> 
       <div class="itemMain"> 
        <div class="avatar"> 
         <img src="/static/images/20150515153119146_avatar.jpg" height="60" width="60" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> Cathy </span> 
          <span class="time">1楼&nbsp;2015-08-17 20:55</span> 
         </dt> 
         <dd class="content f-wwb add-content">
           北京啥时候有活动呀 
          <a class="reply jsReply" href="javascript:;" data-id="38449" data-name="Cathy">回复</a> 
         </dd> 
        </dl> 
       </div> 
       <div class="itemSub "> 
        <div class="avatar"> 
         <img src="/static/images/20150613144120639_avatar.jpg" height="50" width="50" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc4"> <em>Admin&nbsp;-&nbsp;</em> nico </span> 
          <span class="time">2015-08-17 21:45</span> 
         </dt> 
         <dd class="content f-wwb">
          北京已经办完了
         </dd> 
        </dl> 
       </div> 
       <div class="itemSub "> 
        <div class="avatar"> 
         <img src="/static/images/20150803193428421_avatar.jpg" height="50" width="50" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> Nina </span> 
          <span class="time">2015-08-18 13:46</span> 
         </dt> 
         <dd class="content f-wwb">
          什么时候在北京办的啊？？？竟然没赶上
          <img src="/static/images/j_0004.gif" />
         </dd> 
        </dl> 
       </div> 
       <div class="itemSub "> 
        <div class="avatar"> 
         <img src="/static/images/avatar.png" height="50" width="50" alt="默认头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> Ailsa </span> 
          <span class="time">2015-08-18 16:51</span> 
         </dt> 
         <dd class="content f-wwb">
          我也没法去，只能去北京
         </dd> 
        </dl> 
       </div> 
       <div class="itemSub last"> 
        <div class="avatar"> 
         <img src="/static/images/20150915194528264_avatar.jpg" height="50" width="50" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> Yoyo </span> 
          <span class="time">2015-08-20 14:58</span> 
         </dt> 
         <dd class="content f-wwb">
          我也是
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="cmtItem"> 
       <span class="badge green">板凳</span> 
       <div class="itemMain"> 
        <div class="avatar"> 
         <img src="/static/images/avatar.png" height="60" width="60" alt="默认头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> Jacklong </span> 
          <span class="time">2楼&nbsp;2015-08-17 20:59</span> 
         </dt> 
         <dd class="content f-wwb add-content">
           我们下周一到周三离开上海外出旅游，能报名参加你们后几天的活动吗？ 
          <a class="reply jsReply" href="javascript:;" data-id="38450" data-name="Jacklong">回复</a> 
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="cmtItem"> 
       <span class="badge blue">地板</span> 
       <div class="itemMain"> 
        <div class="avatar"> 
         <img src="/static/images/20141019012105420_avatar.png" height="60" width="60" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> Linger </span> 
          <span class="time">3楼&nbsp;2015-08-17 21:18</span> 
         </dt> 
         <dd class="content f-wwb add-content">
           贵阳啥时候有活动啊 
          <a class="reply jsReply" href="javascript:;" data-id="38458" data-name="Linger">回复</a> 
         </dd> 
        </dl> 
       </div> 
       <div class="itemSub last"> 
        <div class="avatar"> 
         <img src="/static/images/20150613144120639_avatar.jpg" height="50" width="50" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc4"> <em>Admin&nbsp;-&nbsp;</em> nico </span> 
          <span class="time">2015-08-17 21:45</span> 
         </dt> 
         <dd class="content f-wwb">
          陆续
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="cmtItem"> 
       <div class="itemMain"> 
        <div class="avatar"> 
         <img src="/static/images/20150816031208224_avatar.jpg" height="60" width="60" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> Dsfo </span> 
          <span class="time">4楼&nbsp;2015-08-17 23:37</span> 
         </dt> 
         <dd class="content f-wwb add-content">
           我要来我要来 &nbsp;要我要我~
          <img src="/static/images/j_0002.gif" /> 
          <a class="reply jsReply" href="javascript:;" data-id="38483" data-name="Dsfo">回复</a> 
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="cmtItem"> 
       <div class="itemMain"> 
        <div class="avatar"> 
         <img src="/static/images/20151022075226282_avatar.jpg" height="60" width="60" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> Alisa </span> 
          <span class="time">5楼&nbsp;2015-08-18 08:05</span> 
         </dt> 
         <dd class="content f-wwb add-content">
           福州什们时候有活动 
          <a class="reply jsReply" href="javascript:;" data-id="38494" data-name="Alisa">回复</a> 
         </dd> 
        </dl> 
       </div> 
       <div class="itemSub last"> 
        <div class="avatar"> 
         <img src="/static/images/20151103202623335_avatar.jpg" height="50" width="50" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> student </span> 
          <span class="time">2015-11-03 20:22</span> 
         </dt> 
         <dd class="content f-wwb">
          <img src="/static/images/j_0019.gif" />
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="cmtItem"> 
       <div class="itemMain"> 
        <div class="avatar"> 
         <img src="/static/images/20151022075226282_avatar.jpg" height="60" width="60" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> Alisa </span> 
          <span class="time">6楼&nbsp;2015-08-18 08:06</span> 
         </dt> 
         <dd class="content f-wwb add-content"> 
          <img src="/static/images/j_0004.gif" /> 
          <a class="reply jsReply" href="javascript:;" data-id="38495" data-name="Alisa">回复</a> 
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="cmtItem"> 
       <div class="itemMain"> 
        <div class="avatar"> 
         <img src="/static/images/20150707220649630_avatar.jpg" height="60" width="60" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> Jane </span> 
          <span class="time">7楼&nbsp;2015-08-18 16:45</span> 
         </dt> 
         <dd class="content f-wwb add-content">
           报名~~ 
          <a class="reply jsReply" href="javascript:;" data-id="38602" data-name="Jane">回复</a> 
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="cmtItem"> 
       <div class="itemMain"> 
        <div class="avatar"> 
         <img src="/static/images/avatar.png" height="60" width="60" alt="默认头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> lily </span> 
          <span class="time">8楼&nbsp;2015-08-18 21:02</span> 
         </dt> 
         <dd class="content f-wwb add-content">
           我要想想 
          <a class="reply jsReply" href="javascript:;" data-id="38672" data-name="lily">回复</a> 
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="cmtItem"> 
       <div class="itemMain"> 
        <div class="avatar"> 
         <img src="/static/images/20150718180144433_avatar.jpg" height="60" width="60" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> taddy </span> 
          <span class="time">9楼&nbsp;2015-08-19 17:08</span> 
         </dt> 
         <dd class="content f-wwb add-content">
           这种活动应该不在上海举办 
          <a class="reply jsReply" href="javascript:;" data-id="38848" data-name="taddy">回复</a> 
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="cmtItem"> 
       <div class="itemMain"> 
        <div class="avatar"> 
         <img src="/static/images/20150115210227985_avatar.jpg" height="60" width="60" alt="头像" /> 
         <i class="cover"></i> 
        </div> 
        <dl class="container"> 
         <dt class="title"> 
          <span class="nickname s-fc2"> masy </span> 
          <span class="time">10楼&nbsp;2015-08-20 11:17</span> 
         </dt> 
         <dd class="content f-wwb add-content"> 
          <img src="/static/images/j_0013.gif" /> 
          <a class="reply jsReply" href="javascript:;" data-id="38992" data-name="masy">回复</a> 
         </dd> 
        </dl> 
       </div> 
      </div> 
      <div class="u-link"> 
       <div class="inner">
        <a class="cur" href="javascript:;">1</a>
        <a href="/activity/detail/hot/39.html?page=2">2</a>
        <a href="/activity/detail/hot/39.html?page=3">3</a>
        <a href="/activity/detail/hot/39.html?page=4">4</a>
        <a href="/activity/detail/hot/39.html?page=5">5</a>
        <a href="/activity/detail/hot/39.html?page=2" class="a2">下一页 </a>
        <a href="/activity/detail/hot/39.html?page=5" class="a2">末页 </a>
       </div> 
      </div> 
      <form action="/ajax/reply" method="post" id="replyForm"> 
       <div class="cmtItem" style="padding-top:0;border-bottom:none;"> 
        <div class="itemMain"> 
         <div class="avatar"> 
          <img src="/static/images/avatar.png" height="60" width="60" alt="默认头像" /> 
          <i class="cover"></i> 
         </div> 
         <dl class="container" style="height:213px;"> 
          <script type="text/javascript" src="/static/js/ueditor.config.js"></script> 
          <script type="text/javascript" src="/static/js/ueditor.all.min.js"></script> 
          <script id="editor" type="text/plain" style="width:588px;height:120px;"></script> 
          <input type="hidden" name="type" value="2" /> 
          <input type="hidden" name="top_id" value="39" /> 
          <input type="hidden" name="parent_id" value="0" /> 
          <input type="hidden" name="content" /> 
          <div class="u-submit"> 
           <a class="button submit" id="ueSubmit" href="javascript:;" data-type="2">发表回复</a> 
           <div class="fn-left" style="display:none;">
             验证码： 
            <input type="text" name="verify_code" class="input" id="verifyCode" /> 
            <img title="点击刷新" class="jsCode" src="/index/Code/uo9mv65fo0mc4huhdp0et50l54" align="absbottom" onclick="this.src = '/index/Code/uo9mv65fo0mc4huhdp0et50l54/v//' + Math.random();" /> 
           </div> 
          </div> 
         </dl> 
        </div> 
       </div> 
      </form> 
     </div> 
     <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script> 
     <script>
    /*点赞*/
    $(".sha-pra").on("click", function () {
        var great_icon = $(this);
        var pra_num = parseInt(great_icon.next("b").html());
        var pra_val = great_icon.next("b");
        var forum_id =great_icon.attr("data-fornum_id");
        if (great_icon.hasClass("add-sha-pra")) {
            var ajaxurl = "/ajax/cancelPraise";
            var num = pra_num - 1;
        } else {
            var ajaxurl = "/ajax/praiseLog";
            var num = pra_num + 1;
        }
        
        $.ajax({
            type: "POST",
            url: ajaxurl,
            dataType: "json",
            data: {forum_id: forum_id, type: 1},
            success: function (msg) {
                if (msg.status==1) {
                    if (great_icon.hasClass("add-sha-pra")) {
                        great_icon.removeClass("add-sha-pra");
                    }else{
                        great_icon.addClass("add-sha-pra");
                    }
                    pra_val.html(num);
                }else if(msg.status==2){
                    $.alert(msg.info, function () {
                        location.href = "discuss_detail.html?"+forum_id+".html";
                    });
                } else {
                    $.alert(msg.info, function () {
                        if (msg.data) {
                            location.href = msg.data;
                        }
                    });
                }
            }
        });
    });
    /*红星点赞*/
    $(".star-icon").on("click", function () {
        var great_icon = $(this);
        var pra_num = parseInt(great_icon.next("b").html());
        var pra_val = great_icon.next("b");
        var forum_id = great_icon.attr("data-fornum_id");
        if (great_icon.hasClass("add-star-cion")) {
            var ajaxurl = "/ajax/cancelPraise";
            var num = pra_num - 1;
        } else {
            var ajaxurl = "/ajax/praiseLog";
            var num = pra_num + 1;
        }
        $.ajax({
            type: "POST",
            url: ajaxurl,
            dataType: "json",
            data: {forum_id: forum_id, type: 2},
            success: function (msg) {
                if (msg.status) {
                    if (great_icon.hasClass("add-star-cion")) {
                        great_icon.removeClass("add-star-cion");
                    }else{
                        great_icon.addClass("add-star-cion");
                    }
                    pra_val.html(num);
                } else {
                    $.alert(msg.info, function () {
                        if (msg.data) {
                            location.href = msg.data;
                        }
                    });
                }
            }
        });
    });
    /*分享*/
    $(".sha-fx").click(function (event) {
        event.stopPropagation(); //阻止事件冒泡 
        $(".new-bdshare").toggle();
    });
    $(document).click(function (e) {
        if (!$(".sha-fx").hasClass("new-bdshare")) {
            $(".new-bdshare").hide();
        }
    });
    var shareContent = "@51talk 无忧英语-51Talk外教和服务挺不错，我向我的好友推荐了51Talk！你也来试试吧！";
    var id = $("#forum_id").val();
    var shareLink = "discuss_detail.html?" + id + ".html";
    window._bd_share_config = {"common": {"bdSnsKey": {}, "bdText": shareContent, "bdMini": "2", "bdMiniList": false, "bdPic": "http://static.51talk.com/images/web_new/home/banner/student1.jpg;http://static.51talk.com/images/web_new/home/banner/index.jpg;http://static.51talk.com/images/web_new/home/show/4.png;http://static.51talk.com/images/web_new/home/show/11_07.png", "bdUrl": shareLink, "bdStyle": "0", "bdSize": "16"}, "share": {}};
    with (document)
        0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script> 
    </div> 
    <!-- left end --> 
    <div class="sidebar"> 
     <!-- 热门讨论 --> 
     <div class="us-box pb0"> 
      <div class="u-caption"> 
       <h4 class="title">热门讨论</h4> 
      </div> 
      <div class="us-pic"> 
       <a href="http://bbs.51talk.com/user/ad_click?id=8&amp;url=http%3A%2F%2Fbbs.51talk.com%2Fforum%2Fdetail%2F6859.html" target="_blank"> <img title="讨论区版主招募啦" src="/static/images/144946596120065_thumb.jpg" width="200" height="138" style="border:0px;" /> </a> 
       <!--a href="http://bbs.51talk.com/forum/index"><img src="http://static.51talk.com/static/image/openclass/banner_side_1.png" width="200" height="138" alt=""></a--> 
      </div> 
      <div class="us-txt"> 
       <ul class="us-list"> 
        <li><a href="discuss_detail.html?6200" target="_blank">【51Talk青少演讲大赛】XD05-Nancy</a></li> 
        <li><a href="discuss_detail.html?5534" target="_blank">名单公布【小5送礼啦】开心迎国庆 抢楼乐翻天</a></li> 
        <li><a href="discuss_detail.html?6311" target="_blank">[51talk青少年演讲大赛] XD-10 Cindy，我荣获冠军了</a></li> 
        <li><a href="discuss_detail.html?6312" target="_blank">【51Talk青少演讲大赛】XG10-10岁Christina (恭喜Christina）</a></li> 
        <li><a href="discuss_detail.html?6153" target="_blank">James Lee和小伙伴们聊英语~【继续更新】</a></li> 
       </ul> 
      </div> 
     </div> 
     <!-- 活动推荐 --> 
     <div class="us-box pb0"> 
      <div class="u-caption"> 
       <h4 class="title">活动推荐</h4> 
      </div> 
      <div class="us-pic"> 
       <a href="http://bbs.51talk.com/user/ad_click?id=3&amp;url=http%3A%2F%2Fbbs.51talk.com%2Fforum%2Fdetail%2F6714.html" target="_blank"> <img title="51Talk四周年感恩季" src="/static/images/144852011651411_thumb.jpg" width="200" height="138" style="border:0px;" /> </a> 
       <!--a href="discuss_detail.html?2747" target="_blank"><img src="http://static.51talk.com/static/image/openclass/activity_2747.jpg" width="200" height="138" alt="51奖品任性送"></a--> 
      </div> 
      <div class="us-txt fn-tac"> 
       <a href="http://bbs.51talk.com/user/ad_click?id=10&amp;url=http%3A%2F%2Fbbs.51talk.com%2Fforum%2Fdetail%2F5035.html" target="_blank">51Talk四周年感恩季</a> 
       <!--a href="discuss_detail.html?2747" target="_blank">我的51talk学习经验谈</a--> 
      </div> 
     </div> 
     <!-- 我要评级 --> 
     <div class="us-box"> 
      <div class="u-caption"> 
       <h4 class="title">我要评级</h4> 
      </div> 
      <div class="us-pic"> 
       <a href="http://bbs.51talk.com/user/ad_click?id=2&amp;url=http%3A%2F%2Fwww.51talk.com%2Ftesting%2Findex%2F%3Ftype%3Dlogin" target="_blank"> <img title="水平测试" src="/static/images/144308788522532_thumb.jpg" width="200" height="138" style="border:0px;" /> </a> 
      </div> 
     </div> 
     <!-- us-box end --> 
     <!--div class="us-box-em">
	<a href="#" class="login-side-a"></a>
	<a href="#" class="login-side-b"></a>
</div--> 
     <!-- us-box-em end --> 
    </div> 
    <!-- sidebar end --> 
   </div> 
  </div> 
  <!-- main end --> 
  <div class="footer"> 
    {% include "foot.html" %}
  </div> 
  <div id="u-gotop" style="display:block;"> 
   <a href="javascript:;" title="回到顶部">回到顶部</a> 
  </div> 
  <!-- footer end --> 
  {% include "js_include.html" %}
<!--   <script type="text/javascript" src="/static/js/sea.min.js" id="seajsnode"></script> 
  <script type="text/javascript" src="/static/js/vendor.js" id="seajsnode"></script>  -->
  <!--script src="http://static2.51talk.com/static/js/sea.min.js?v=1432205604748" id='seajsnode'></script>
<script src="/static/js/vendor.js?v=1432205604748" id='seajsnode'></script-->  
  <img style="display:none;" src="/static/images/a.gif?v=7c909ebb7b1650692971b265e6b37e32&amp;site=3&amp;type=1&amp;uuid=fc30355894446a101b0b95e6819f06bb&amp;uid=U2843762138&amp;ref=http%3A%2F%2Fbbs.51talk.com%2Factivity%2F" border="0" alt="" /> 
 </body>
</html>