<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>在线测试 - 答题</title> 
  <meta name="keywords" content="如何提高英语水平,英语水平测试,英语水平在线测试" /> 
  <meta name="description" content="51Talk英语水平测试系统通过对学员的英语词汇量,英语语法掌握度,以及学员的阅读理解水平三大模块的测试做出系统评估,使学员清楚了解自己的英语水平以便帮助学员如何快速提高自己的英语水平." /> 
  <link rel="stylesheet" href="/static/css/testing.css" /> 
  <script type="text/javascript" src="/static/js/jquery.min.js"></script> 
   {% include "head_include.html" %}
  <!--[if IE 6]>
    <script src="/static/js/DD_belatedPNG_0.0.8a.min.js"></script>
    <script type="text/javascript">DD_belatedPNG.fix('.png_bg');</script>
    <![endif]--> 
 </head>
 <body> 
  <div class="top png_bg"> 
   <div class="w1000"> 
    <div class="logo"> 
     <a href="/" target="_blank"><img src="/static/images/logo_new.gif" /></a> 
    </div> 
    <div class="phone"> 
     <img src="/static/images/phone_new2.png" /> 
    </div> 
   </div> 
  </div> 
  <div class="center"> 
   <div class="w1000 png_bg"> 
    <div class="tiao png_bg"> 
     <div class="tiao_bg"> 
      <ul class="ul_tiao"> 
       <li class="li_tiao ch_c"> 
        <div class="ch_tiao png_bg">
         &nbsp;
        </div> <span>词汇&amp;语法</span> </li> 
       <li class="li_tiao yf"> 
        <div class="yf_tiao png_bg">
         &nbsp;
        </div> <span>综合应用</span> </li> 
       <li class="li_tiao yd"> 
        <div class="yd_tiao png_bg">
         &nbsp;
        </div> <span>阅读理解</span> </li> 
      </ul> 
     </div> 
    </div> 
    <div class="box_center"> 
     <div class="left"> 
      <h1>1.词汇&amp;语法 (基础知识)</h1> 
      <br /> 
      <span>词汇&amp;语法 | 根据题意，选择最佳答案。</span> 
      <div class="button png_bg begin_btn">
       <a href="test_question.html??step=words&amp;type=login">继续</a> 
      </div> 
     </div> 
     <div class="right"> 
      <div class="img_l">
       <img src="/static/images/b1.png" /> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="footer png_bg"> 
  </div> 
  {% include "js_include.html" %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30549090-1']);
    _gaq.push(['_setDomainName', '51talk.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_setCampNameKey', 'hmpl']);
    _gaq.push(['_setCampSourceKey', 'hmsr']);
    _gaq.push(['_setCampMediumKey', 'hmmd']);
    _gaq.push(['_setCampTermKey', 'hmkw']);
    _gaq.push(['_setCampContentKey', 'hmci']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script> 
  <script type="text/javascript">
    var youdao_conv_id = 1074;
</script> 
  <script type="text/javascript" src="/static/js/conv.js"></script> 
  <div style="display:none"> 
  </div>  
  <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1011036444;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script> 
  <script type="text/javascript" src="/static/js/conversion.js">
</script> 
  <noscript> 
   <div style="display:inline;"> 
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1011036444/?value=0&amp;guid=ON&amp;script=0" /> 
   </div> 
  </noscript> 
  <!--Google update 2012-10-18--> 
  <img style="display:none;" src="/static/images/a.gif?v=37e4e9a0fa868d2e7d82671833d6e6bb&amp;site=1&amp;type=1&amp;uuid=fc30355894446a101b0b95e6819f06bb&amp;uid=U2843762138&amp;ref=http%3A%2F%2Fwww.51talk.com%2Ftesting%2Findex%2F%3Ftype%3Dlogin" border="0" alt="" />
 </body>
</html>