<div class="topBar"> 
    <div class="wrapper fn-clear"> 
     <div class="logo"> 
      <a href="/"><img src="/static/images/binary_64px_35481_easyicon.net.png" height="46" width="64" alt="101 社区" /></a> 
     </div> 
     <div style="float: left;margin-top: 15px;"><span>共享知识，收获快乐</span></div>
     <!-- logo end --> 
     <div class="fn-right"> 
      <!-- div class="search">
                        <input type="text" class="searchInput" value="搜索" style="color:#b1b1b1;" onfocus="if (value == '搜索'){this.style.color='#666';value=''}" onblur="if (value == ''){this.style.color='#b1b1b1';value='搜索'}">
                        <button class="serchButton"></button>
                    </div --> 
      <!-- search end --> 
      <div class="dou_num">
       <span style="margin:5px">0个码票</span> </i>
      </div> 

       <!-- <div class="dou"></div></a>  -->
       <div class="dou_num"> <i class="fa fa-money  fa-2x"></i></div> 

      <ul class="toolBar"> 
       <li class="mes jsMore"> <a href="/user/messages" target="_blank">消息</a> 
        <!-- 有消息提示  -->
        <span class="tip" id="msgPoint" style="display:none;"></span> 
        <div class="mes-list jsUl" style="display:none;"> 
         <!-- 隐藏 --> 
         <ul class="fn-clear" id="jsMsg"> 
          <li class="last f-tac">
           <!-- 无消息添加类 f-tac --> ===您还没收任何到消息== </li> 
         </ul> 
         <div class="status"> 
          <a class="line" href="#">标记为已读</a> 
          <a class="line" href="/user/messages">查看所有消息</a> 
         </div> 
         <span class="tips-up"></span> 
        </div> </li> 
      </ul> 
      <!-- toolBar end --> 
      <div class="avatarBar"> 
       <div class="avatar"> 
        <!-- <a href="#"> --> 
        <i class="fa fa-user-circle-o  fa-2x"></i>
       <!--  <img src="/static/images/avatar.png" height="30" width="30" alt="student" />  -->
        <!-- </a> --> 
       </div> 
       <div class="drop jsMore"> 
        <span class="drop-a" ></span> 
        <ul class="drop-list jsUl" style="display:none;"> 
         <!-- 隐藏 --> 
         <li><a href="/user_login/">我的主页</a></li> 
         <li><a href="/user/info">帐号设置</a></li> 
         <li><a href="/user/logout" class="last">退出</a></li> 
        </ul> 
       </div> 
      </div> 
      <!-- avatarBar end --> 
     </div> 
     <!-- fn-right end --> 
    </div> 
</div> 
   <!-- topBar end --> 
   <div class="navBar"> 
    <div class="wrapper fn-clear"> 
     <ul class="nav"> 
      <li><a href="/" class="nav_index nav_list">首页</a></li> 
      <li calss='nav_list_li jsMore_list'><a href="/classes/" class="nav_classes nav_list title"> 列表区<i style='margin-left:10px' class="fa fa-ellipsis-v"></i></a>
      </li>
      <li><a href="/discuss/" class="nav_discuss nav_list">讨论区</a></li> 
      <li><a href="/activity/" class="nav_activity nav_list">活动区</a></li> 
<!--       <li><a href="/test/??type=login" target="_blank" class="nav_test nav_list">推荐区</a></li> 
      <li><a href="/download/" target="_blank" class="nav_download nav_list">分享区</a></li>  -->
     </ul> 
    </div> 
   </div> 
   <br/>
    <ul class="nav_jsUl" style="display:none;" > 
        <li class='tag_a' ><a href='/'>mysql</a></li>
        <li class='tag_a' ><a href='/'>mysql</a></li>
        <li class='tag_a'><a href='/'>mysql</a></li>
       <li class='tag_a'><a href='/'>mysql</a></li>
       <li class='tag_a'><a href='/'>mysql</a></li>
       <li class='tag_a'><a href='/'>mysql</a></li>
       <li class='tag_a'><a href='/'>mysql</a></li>
       <li class='tag_a'><a href='/'>mysql</a></li>
       <li class='tag_a'><a href='/'>mysql</a></li>
       <li class='tag_a'><a href='/'>mysql</a></li>
       <li class='tag_a' style='background-color:#02a2e0;' href="/forum/index/4"><a href='/' style='color:#333'>更多...</a>
       </li>
       <li style='clear:both'></li>
    </ul>
